* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 15px;
  color: hsl(215, 51%, 70%);
}
body {
  font-family: "Outfit", sans-serif;
}
.main {
  min-height: 100vh;
  min-width: 100vw;
  background-color: hsl(217, 54%, 11%);
  display: flex;
}
.card {
  background-color: hsl(216, 50%, 16%);
  width: 20rem;
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  align-items: center;
  padding: 25px;
  margin-top: 50px;
  border-radius: 1rem;
}
.image {
  height: 58%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.image-container {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background-color: hsl(178, 100%, 50%);
  border-radius: 0.5rem;
}
.image-container:hover .card-pic {
  opacity: 0.5;
}
.image-container:hover .icon {
  opacity: 1;
}
/* .icon:hover {
  opacity: 1;
} */
.card-pic {
  border-radius: 0.5rem;
  transition: all 0.2s linear;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
/* .card-pic:hover {
  opacity: 0.5;
} */
.card-title {
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
  /* font-size: 10px; */
}
.card-title:hover {
  color: hsl(178, 100%, 50%);
}
.text-one {
  line-height: 25px;
  margin-bottom: 10px;
}
.text {
  height: 40%;
  width: 100%;
  box-sizing: border-box;
}
.main-text {
  max-width: 100%;
  max-height: 60%;
}

.coin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
  align-items: center;
}
.coin-value {
  align-items: center;
  color: hsl(178, 100%, 50%);
}
.content {
  display: flex;
  align-items: center;
  padding: 0;
}
.coin-text {
  padding: 6px;
}
.coin-image {
  align-items: center;
}
.ethereum,
.text-clock {
  max-width: 100%;
  height: 100%;
  align-items: center;
  object-fit: cover;
  display: block;
}
.sec-text {
  width: 100%;
  border-top: 1.5px solid hsl(215, 32%, 27%);
  padding: 15px 0;
  display: flex;
  align-items: center;
}

.avatar-container {
  border: 1.8px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  padding: 0;
  width: 12%;
  margin-right: 15px;
}
.creator-img {
  object-fit: cover;
  max-width: 100%;
  display: block;
  /* margin-right: 0.5rem; */
}
.name {
  color: hsl(0, 0%, 100%);
}
.name:hover {
  color: hsl(178, 100%, 50%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* @media screen and (max-width: 320px) {
  .card {
    width: 60%;
    height: 80%;
    margin-top: 35px;
  }
}
@media screen and (min-width: 425px) {
  .card {
    width: 45%;
    height: 80%;
    margin-top: 35px;
  }
}

@media screen and (min-width: 575px) {
  .card {
    width: 40%;
    height: 80%;
  }
} */
